@page
@model PhotoRazor.SearchModel
@{
    ViewData["Title"] = "Search";
}

<form>
    <p>
        <select asp-for="Camp">
            @foreach (var item in Model.Campuri)
            {
                <option value="@Url.Content(item)">@Html.DisplayFor(modelItem => item)</option>

            }
        </select>
        Search item: <input type="text" asp-for="Cauta" />
        <input type="submit" value="Filter" />
    </p>
</form>

<h1>Cautare</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Media
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Path)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Photos)
        {
            <tr style="font-size:small">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                @if (item.Path.Contains(".mp4"))
                {
                    <td>
                        <video width="200" height="200" controls>
                            <source src="@Url.Content(item.Path)" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </td>
                }
                else
                {
                    <td>
                        <img src="@Url.Content(item.Path)" width="100" height="100">

                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
            </tr>

        }
    </tbody>
</table>



